/* page oreginal */
body{
    background-color: #EBF2F2;    
}
nav{
    background-color: rgb(120, 26, 209);
    border-radius: 30px;
}
li{
    display: inline-block;
    padding: 45px;
    font-size: 0.5cm;
}
.ragnar{
    height:450px;
    width: 450px;
}
.text{
    display: flex;
}


.figtitle{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: rgb(6, 9, 44);
    display: block;
} 
.sc{
    display: block;
    margin: auto;
    height: 500px;
    width: 400px;
}
.handwriting{
    height: 600px;
    width: 500px;
}